html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#valk {
  min-height: 100%;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
}

label, input {
  display: block;
}